// .custom-btn {
//     background-color: transparent;
//     border: 2px solid black;
//     margin-top: 5px;
//     border-radius: 12px;
//     padding: 0px 5px 2px 5px;
//     font-family: var(--title-font-family);
//     font-size: var(--p-font-size);
//     white-space: nowrap;
//   }

//   .custom-btn.btn-bg {
//     background: var(--white-color);
//     color: var(--primary-color);
//     border-color: transparent;
// 	transition: all .3s ease;
//   }
  
//   .custom-btn:hover,
//   .custom-btn:focus {
//     background: var(--dark-color);
//     color: var(--white-color);
//     border-color: transparent;
//     cursor: pointer;
//   }
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: #9a905d;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -80px 0 0 80px #e7edee;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}
