


<div>
    Total amount of bill $
    <input [(ngModel)]= 'cost' type="number" />
  
    <p> Sales Tax: {{cost * .06 | currency}}</p>
  
    <!-- <p> Sales Tax : {{ salesTax }}</p> -->
  </div>
  
  <div> 
    % Tip : 
  
    <input [(ngModel)]= 'tipPercentage' type='range' min='0' max="30" />
  
    {{tipPercentage}}
  </div>
  
  <div>
  <button class="custom-btn" (click)="calculate()"> Calculate </button>
  </div>
  
  <!-- <div>
    Total Bill :
  
    <input />
  
  </div>  -->
  
  <hr color="black">
  Tip Amount: {{tipAmount | currency}}
  <br>  
  
  Amount Due: {{total | currency }}